:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--border: 1px solid
		var(--variant-outlinedBorder, var(--joy-palette-neutral-outlinedBorder, var(--joy-palette-neutral-300, #cdd7e1)));
}

:focus-visible {
	outline: 2px solid var(--joy-palette-focusVisible, #0b6bcb);
	outline-offset: var(--focus-outline-offset, var(--joy-focus-thickness, 2px));
	border-radius: 2px !important;
}

:root,
html,
body {
	overflow: hidden;
}

* {
	box-sizing: border-box !important;
}

a {
	font-weight: 500;
	color: var(--joy-palette-primary-400);
	text-decoration: inherit;
}
a:hover {
	color: var(--joy-palette-primary-500);
}

section {
	padding: 0.5rem 2rem;
	width: 100%;
}

header {
	display: flex;
	height: 60px;
	border-bottom: var(--border);
}

header > section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button,
.user-select-none {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

body {
	margin: 0;
	/* display: flex;
  place-items: center; */
	min-width: 320px;
	min-height: 100dvh;
}

main {
	display: flex;
	flex-direction: row;
	min-height: 100dvh;
}

h1 {
	font-size: 3.2rem;
	line-height: 1.1;
}

.text-clamp {
	display: -webkit-box !important;
	-webkit-line-clamp: 1;
	letter-spacing: 0;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
}

.clamp-2 {
	-webkit-line-clamp: 2;
}

.clamp-3 {
	-webkit-line-clamp: 3;
}

html[data-joy-color-scheme='dark'] .note-list-item:focus-visible {
	outline: none !important;
	background-color: var(--joy-palette-neutral-800) !important;
}

html[data-joy-color-scheme='light'] .note-list-item:focus-visible {
	outline: none !important;
	background-color: var(--joy-palette-neutral-100) !important;
}

.ql-toolbar,
.ql-container {
	border: none !important;
	padding: 0 !important;
}

.ql-toolbar {
	padding: 6px 2rem !important;
	border-bottom: var(--border) !important;
	border-top: var(--border) !important;
}

.ql-editor {
	height: calc(100dvh - 163px);
	padding: 36px 2rem;
	overflow-y: scroll;
	border: none !important;
}

.ql-editor:focus-visible {
	outline: none;
}

html[data-joy-color-scheme='dark'] .ql-editor,
html[data-joy-color-scheme='dark'] .no-selected-note-container {
	background: #1b1b1b !important;
}

html[data-joy-color-scheme='light'] .ql-editor,
html[data-joy-color-scheme='light'] .no-selected-note-container {
	background: #f5f5f5;
}

.ql-picker-label {
	padding-left: 0 !important;
}

.ql-snow .ql-stroke {
	stroke: var(--joy-palette-text-secondary, var(--joy-palette-neutral-700, #32383e));
}

.ql-snow .ql-picker {
	color: var(--joy-palette-text-secondary, var(--joy-palette-neutral-700, #32383e));
}

.ql-snow.ql-toolbar button.ql-active {
	background: var(--joy-palette-background-level2);
}

.ql-snow .ql-formats {
	display: inline-flex;
	gap: 4px;
}

.ql-snow .ql-picker-options {
	background-color: var(--joy-palette-background-body);
	color: var(--joy-palette-text-secondary, var(--joy-palette-neutral-700, #32383e));
	border-radius: 5px;
	padding: 8px 12px;
	margin-top: 5px !important;
}

.ql-snow .ql-picker-options .ql-picker-item:not(:last-child) {
	border-bottom: var(--border);
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border-color: transparent;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	color: var(--joy-palette-text-tertiary, var(--joy-palette-neutral-800, #32383e));
}

/* scrollbars start */
.scroll-y {
	overflow-y: scroll;
}

.scroll-x {
	overflow-x: scroll;
}

@media (hover: hover) and (pointer: fine) {
	.scrollable {
		/* background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll2-opacity)); */
		scrollbar-gutter: stable;
		scrollbar-width: thin;
	}

	::-webkit-scrollbar-thumb:hover {
		/* background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll0-opacity)); */
	}

	::-webkit-scrollbar-thumb:active {
		/* background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll00-opacity)); */
	}

	::-webkit-scrollbar,
	::-webkit-scrollbar-track {
		border-radius: 8px !important;
	}

	/* scrollbar bg */
	::-webkit-scrollbar-track {
		background-color: transparent;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	/* scrollbar self */
	::-webkit-scrollbar-thumb {
		/* background-color: rgba(var(--bs-scrollbar-bg-rgb), var(--bs-scroll1-opacity)); */
		border-radius: 16px;
		border: 2px solid transparent;
		background-clip: padding-box;
	}

	::-webkit-scrollbar-button {
		display: none;
	}
}

/* scrollbars end */
